* {
    padding: 0px;
    margin: 0px;
}

.loginpage {
    height: 700px;
}

a {
    text-decoration: none;
}


/* 登录页面头部 */

.headerlogo {
    height: 89px;
    width: 1190px;
    /* margin: 0px auto; */
    /* background: red; */
}

.headerlogo>span {
    display: inline-block;
    margin-top: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}


/* 登录页面body部分 */

.bodyback {
    margin: 0px auto;
    /* margin-left: -200px; */
    height: 610px;
    width: 1719px;
    overflow: hidden;
    /* width: 100%; */
    background: url('../img/bg.jpg') no-repeat right top;
}

.imgshow {
    height: 100%;
    margin: 0px auto;
    width: 1190px;
    /* background-color: aqua; */
    position: relative;
}


/* 登录页面的登录框 */

.loginform {
    position: absolute;
    right: 0px;
    bottom: 115px;
    width: 300px;
    height: 320px;
    border: 1px sold blue;
    padding: 30px;
    opacity: 0.8;
    background: whitesmoke;
}

.loginform>span {
    font-size: 20px;
    font-weight: bold;
    font-family: fantasy;
    color: rgb(191, 21, 38);
    letter-spacing: 2px;
    display: block;
    margin-bottom: 20px;
}

input.enter {
    width: 298px;
    height: 30px;
    border: 1px solid black;
    text-indent: 32px;
    margin-bottom: 15px;
}


/* .grey {
    color: black;
    font-size: 12px;
} */

.loginbutton[disabled] {
    background: rgb(156, 147, 147) !important;
    /* color: white; */
}

.loginbutton {
    display: block;
    width: 100%;
    height: 40px;
    font-size: large;
    background: rgb(200, 56, 59) !important;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin: 10px 0px;
    cursor: pointer;
}

.accounttext,
.passwordtext {
    position: relative;
}

.l {
    position: absolute;
    top: 10px;
    left: 10px;
}

.thirdaccount {
    float: left;
}

.thirdaccount a {
    margin-right: 5px;
    color: rgb(200, 56, 59);
}

.register {
    float: right;
}

.register>a {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.agreement {
    height: 16px;
    margin-bottom: 15px;
}

.a:hover {
    background-color: slategray;
    /* border: 1px solid black; */
}